name: Release CI
on:
  push:
    branches:
      - master
jobs:
  lint:
    name: Lint
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Run lint command
        run: npm run lint
  release:
    needs: [lint]
    name: Build and release
    permissions:
      contents: write
      issues: write
      id-token: write
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Run build command
        run: npm run build
      - name: Release
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
          GIT_AUTHOR_NAME: "Helmut Hoffer von Ankershoffen"
          GIT_AUTHOR_EMAIL: "helmuthva@gmail.com"
          GIT_COMMITTER_NAME: "Helmut Bot"
          GIT_COMMITTER_EMAIL: "helmuthva+bot@googlemail.com"
          COMMIT_ASSETS: dist
